In [68]:
import random
import pandas as pd
import numpy as np
import os

In [69]:
#Fetching csv from cwd
path = os.path.join(os.getcwd(), 'Champ_list.csv')

In [88]:
#Creating df from csv
df = pd.read_csv(path)

In [89]:
df

        Name
0     Aatrox
1       Ahri
2      Akali
3     Akshan
4    Alistar
..       ...
156     Zeri
157    Ziggs
158   Zilean
159      Zoe
160     Zyra

[161 rows x 1 columns]

In [94]:
#Writing names to a list
champ_list = df['Name'].tolist()

In [125]:
#Creating the roulette part of the script to choose a random champion
def choose():
    random.shuffle(champ_list)
    global champ_name
    champ_name = champ_list[0]
    print(f'Your champion is: {champ_name}')
choose()

Your champion is: Gnar

In [148]:
#Creating part to remove a champion from the list when you win
def remove():
    name = input('Enter the name of the champion to be removed')
    name = name.title()
    try:
        champ_list.remove(name)
        print(f'{name} successfully removed')
        champ_df = pd.DataFrame(champ_list)
        champ_df.to_csv('Champ_list.csv', index=False)
    except:
        print('You already removed this champion')
    return print(f' You have {len(champ_list)} champions remaining')

In [149]:
def roulette():
    x = input('Type spin to pick a champion or remove to remove a champion from the list')
    if x.lower() == 'spin':
        return choose()
    elif x.lower() == 'remove':
        return remove()
    else:
        print('invalid input, run again')

In [151]:
roulette()

Ashe successfully removed
 You have 156 champions remaining